*.bak
*.db*
*.swp
/.tidyall.d/
/MANIFEST
/MYMETA.*
/Makefile
/blib
/books
/config
/cover_db
/logs
/meta
/monitor.json
/nytprof.out
/nytprof/
/pm_to_blib
/sessions
/t/files/meta
/venv/
/views/sites/
cpan.json
