<% INCLUDE layouts/incl/header.tt %>

<% content %>
<% FOR p IN pages %>
  <h2><% p.title %></h2>
  <p>
  <% p.abstract %>
  <br>
  <a href="/<% p.filename %>"><% p.title %></a>
  </p>
<% END %>

<% INCLUDE layouts/incl/newsletter.tt %>

<% INCLUDE layouts/incl/footer.tt %>
