<% INCLUDE layouts/incl/header.tt %>

<% content %>
<h2>Recent articles</h2>
<% FOR p IN pages %>
  <div class="abstract">
  <h2><a href="/<% p.filename %>"><% p.title %></a></h2>
  <p>
  <% p.abstract %>
  <br>
  <a href="/<% p.filename %>"><% p.title %></a>
  </p>
  </div>
  <hr />
<% END %>

<% INCLUDE layouts/incl/footer.tt %>
