<% INCLUDE layouts/incl/header.tt %>

<% content %>
<% FOR p IN pages %>
  <h2><% p.title %></h2>
  <p>
  <% p.abstract %>
  <br>
  <a href="/<% p.filename %>"><% p.title %></a>
  </p>
<% END %>

<% INCLUDE layouts/incl/newsletter.tt %>

<div id="error">
<% IF no_mail %>
Missing e-mail.
<% END %>
<% IF invalid_mail %>
Invalid e-mail.
<% END %>
<% IF duplicate_mail %>
This address is already registered.
<% END %>
</div>



<% INCLUDE layouts/incl/footer.tt %>
