<% INCLUDE layouts/incl/header.tt %>

<h1><% title %></h1>
<% content %>

<% UNLESS clean %>
<% INCLUDE "layouts/incl/newsletter.tt" %>

<hr>
<p>
Published on <% timestamp %>
</p>
<% END %>


<% INCLUDE layouts/incl/footer.tt %>
