<% INCLUDE incl/header.tt %>

<h1><% title %></h1>

<% IF conf.show_indexes %>
  <div id="indexes">
    <ul>
      <% FOR k IN indexes %>
         <li><button class="btn btn-mini btn-primary kw-button" type="button" value="<% k %>"><% k %></button></li>
      <% END %>
    </ul>
  </div>
<% END %>

<% content %>

<% IF show_date %>
  <hr>
  <p>
  Published on <% date %>
  </p>
<% END %>
<% INCLUDE incl/comments.tt %>

<% INCLUDE incl/footer.tt %>
