<% INCLUDE layouts/incl/header.tt %>

<div class="container">
<h1><% title %></h1>
<% content %>

<% INCLUDE "layouts/incl/newsletter.tt" %>
</div>


<% IF timestamp %>
<hr>
<p>
Published on <% timestamp %>
</p>
<% END %>


<% INCLUDE layouts/incl/footer.tt %>
