<% INCLUDE incl/header.tt %>

<div id="show_autocomplete">
<h2>Search for <span id="term">'{{search_term}}'</span></h2>
<ul>
   <li ng-repeat="r in autocomplete_results"><a href="/search/{{r | encodeURIComponent}}">{{r}}</a></li>
</ul>
</div>

<div id="show_content">
<% content %>
</div>

<% INCLUDE incl/footer.tt %>
