
<ul>
<% FOR s IN subscriptions %>
<li><% s.name %> <a href="<% s.filename %>"><% s.linkname %></a></li>
<% END %>
</ul>

<% IF subscribed %>
<p>
You are currently subscribed to the Perl Maven newsletter that entitles
you to download the latest edition of the Perl Maven Cookbook.
<a href="/unsubscribe">unsubscribe</a>
</p>
<% ELSE %>
<p>
<a href="/subscribe">subscribe to the free Perl Maven newsletter</a>
</p>
<% END %>


<p>
<a href="/logout">logout</a>
</p>

