<p>
Most of the content is still on <a href="http://szabgab.com/blog.html">szabgab.com</a>,
but the Perl 5 related articles will be moved here.
</p>
<ul>
<% FOR p IN pages %>
 <li><a href="/<% p.filename %>"><% p.title %></a> <% p.date %></li>
<% END %>
</ul>

