<% INCLUDE incl/adsense_wide_top.tt %>

<% mycontent %>

<h2><% resources.text.recent_articles %></h2>
<% FOR p IN pages %>
  <div class="abstract">
  <h2><% IF p.tags.pro %>Pro: <% END %><a href="/<% p.filename %>"><% p.title %></a></h2>
  <p>
  <% p.abstract %>
  <br>
  <a href="/<% p.filename %>"><% p.title %></a>
  </p>
  </div>
  <hr />
<% END %>

