<% INCLUDE incl/content.tt %>

<div id="keyword-list">
<ul>
<% FOR k IN kw.keys.sort %>
  <li><% k %>
    <ul>
      <% FOR page IN kw.$k.keys %>
         <li><a href="/<% page %>"><% kw.$k.$page %></a></li>
      <% END %>
    </ul>
  </li>
<% END %>
</ul>
</div>

