<% INCLUDE incl/content.tt %>

<div id="keyword-list">
<ul>
<% FOR k IN kw.keys.sort %>
  <li><% k %>
    <ul>
      <% FOR page IN kw.$k %>
         <li><a href="<% page.url %>"><% page.title %></a> <% IF page.source %>(<% page.source %>)<% END %></li>
      <% END %>
    </ul>
  </li>
<% END %>
</ul>
</div>

