
<h2>Searching for <span id="term">"<% query %>"</span></h2>

<% ads.top %>

<h3>Results:</h3>

<% FOR r IN results %>
<ul>
  <% IF r.title == query %>
     <li><a href="<% r.url %>"><b><% r.title %></b></a></li>
  <% ELSE %>
     <li><a href="<% r.url %>"><% r.title %></a></li>
  <% END %>
</ul>
<% END %>

