
<h2>Set Password</h2>
<p>
At least 6 characters.
</p>
<form method="POST" action="/pm/verify2" name="set_password">
<table>
  <tr><td>New: Password:</td><td><input type="password" name="password" /></td></tr>
  <tr><td></td><td><input type="submit" value="Set password" /></td></tr>
</table>
<input name="set" value="1" type="hidden" />
<input name="code" value="<% code %>" type="hidden" />
</form>
<div id="error">
<% IF no_password %>
Password is too short.
<% END %>
</div>
