
<p>
Thank you for your purchase.
</p>

<p>
You can now download the e-book from your <a href="/pm/account">account</a>.
</p>

<p>
In case of any problem, please <a href="/about#contact">contact Gabor Szabo</a>.
</p>

