@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Roboto:400,700,400italic|Roboto+Slab:700);

body {
  font-family: 'Roboto',sans-serif;
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  font-size: 16px;
}

pre {
  font-size: 16px;
}

p {
  line-height: 1.4;
  margin: 1.4;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}


.main-content {
  margin: 20px;
  background-color: #DDEEFF;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#error {
   color: #F00;
}

/*
on mobile phones the fixed position right side was displayed on top of the text while it should have disappeard)
So for now we enable the fixed position only above 800px

On mid-sized screens (e.g. notebook) we cannot see the lower ad. Disabling for now.
*/
/*
@media (min-width: 800px) {
  #right-side {
    position:fixed;
  }
}
*/
.sponsor {
  /* text-align:center */
  margin: 20px;
  background-color: #DDDDDD;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.abstract {
  margin: 20px;
  background-color: #EEEEEE;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#newsletter-right-form {
  margin: 20px;
  background-color: #DDEEFF;
  padding: 10px;
          border-radius: 15px;
     -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
#search-on-right {
  text-align: center;
}

#social-share {
  margin: 20px;
  padding: 10px;
}

.inline_code {
  white-space: nowrap;
  /* background: rgba(0, 0, 0, 0.05); */
  background-color: rgba(255, 255, 204 , 0.45);
  box-shadow: 0 1px 0 #ffffff,0 1px 0px rgba(0, 0, 0, 0.08) inset;
  padding: 3px 6px;
  border-radius: 2px;
  direction: ltr;
  unicode-bidi:bidi-override;
}

/* Credits section start */
#creators {
/*  background-color: #DDDDDD; */
  text-align: left;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 500px;
}
#creators img {
	width: 130px;
	height: 130px;
}

#translator {
}
#author {
   	position: absolute;
/*   float: right; */
    top: 0px;
	left: 300px;
}
.author_text {
}
/* Credits section end */

#sites {
	margin-top: 30px;
}
#sites ul {
	margin-left: 0px;
}
#sites li {
	list-style-type: none;
}

#translators {
  position: relative;
}
#translators ul {
	list-style: none;
}
#translators li {
    display: inline-block;
	width: 200px;
	margin-top: 20px;
}
#translators img {
	width: 130px;
	height: 130px;
}



#top-poster {
	background-color: orange;
	padding: 10px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.prettyprint {
    direction: ltr;
	text-align: left;
}

#indexes li {
    list-style: none;
    display: inline;
}
#indexes ul li button {
    margin-bottom: 2px;
}
#keyword-list li {
   margin-bottom: 10px;
}
#keyword-list li li {
   margin-bottom: 1px;
}
#typeahead {
	margin-top:6px;
	height:27px;
}
#atom-icon {
	vertical-align: middle;
	border: 0;
}

#promo {
  background-color: #DDDDDD;
  padding: 10px;
          border-radius: 15px;
     -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.perlweekly {
 background-color: #004065;
 color: #FFF;
         border-radius: 15px;
    -moz-border-radius: 15px;
 -webkit-border-radius: 15px;
 padding: 10px;
 text-align: center;
 margin: 20px;
}

.perlweekly_title {
 font-size: 28px;
 padding: 5px;
}
.perlweekly_free {
 padding: 5px;
 font-size: 16px;
}
.perlweekly a {
 color: #FFF;
 font-size: 22px;
 text-decoration: none;
}
.perlweekly:hover {
 background-color: #003055;
}

.about {
  height:  140px;
}
.about img {
  margin: 10px;
  float: right;
}

#related ul {
	margin-left: 0px;
}
#related li {
	list-style-type: none;
    margin-top: 5px;
}


