#main-content {
  margin: 20px;
  background-color: #DDEEFF;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#error {
   color: #F00;
}

/*
on mobile phones the fixed position right side was displayed on top of the text while it should have disappeard)
So for now we enable the fixed position only above 800px

On mid-sized screens (e.g. notebook) we cannot see the lower ad. Disabling for now.
*/
/*
@media (min-width: 800px) {
  #right-side {
    position:fixed;
  }
}
*/
.sponsor {
  /* text-align:center */
  margin: 20px;
  background-color: #DDDDDD;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.abstract {
  margin: 20px;
  background-color: #EEEEEE;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#newsletter-right-form {
  margin: 20px;
  background-color: #DDEEFF;
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#social-share {
  margin: 20px;
  padding: 10px;
}
