=title Perl Maven - for people who want to get the most out of programming in Perl
=timestamp 2013-07-16T00:00:02
=status show
=showright 1
=show_newsletter_form 0
=published 0
=author 0
=archive 0
=comments_disqus_enable 0
=show_social 1

<h2>Welcome future Perl Maven!</h2>

<div class="main-content">
Some text comes here
</div>

