=title Test 3
=timestamp 2014-01-15T07:30:01
=indexes files, and, other::values
=status draft
=author szabgab
=archive 1
=comments_disqus_enable 0
=show_social 0
=show_newsletter_form 0
=show_right 0


Some text here in 3.tt


