=title Start but no end
=timestamp 2014-01-15T07:30:01
=indexes files
=status draft
=books beginner_book
=author szabgab
=archive 1
=social 1


=abstract start

This is in the abstract

=abstrac end

Some text here.


