<div role="main" id="main">

<div id="abstract">
  <% IF img %><img id="abstract_img" src="<% img %>" alt="<% alt %>" /><% END %>
  <div id="abstract_text"> <% abstract %></div>
</div>

<% mycontent %>
</div>

