<% IF comments_disabled_for_now %>
<h2>Comments</h2>

In the comments, please wrap your code snippets within &lt;pre&gt; &lt;/pre&gt; tags and use spaces for indentation.
<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/szabgab/embed.js"></script>
<noscript><a href="http://szabgab.disqus.com/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<% END %>
