<% IF edit %>
<div>
  <% resources.text.comments %> <a href="<% edit %>"><% resources.text.source %></a>
  <a href="<% github %>/issues/new?title=<% github_title %>&body=<% github_body %>">Comment on this post</a>
</div>
<% END %>
