<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <!-- recmmended Google Pagination -->
  <% IF prev %><link rel="prev" href="<% prev.url %>"><% END %>
  <% IF next %><link rel="next" href="<% next.url %>"><% END %>

  <link href="https://plus.google.com/111891839130546418347/" rel="publisher" />
  <link href="/atom" rel="alternate" type="application/atom+xml" title ="<% brand_name %>" />

  <script>
    var user_info = <% user_info_json %>;
  </script>

  <!-- Google recommended indication of translated versions -->
  <%  IF localized_versions && localized_versions.size > 1 %>
    <link rel="alternate" hreflang="x-default" href="<% localized_versions.en.url %>" />
    <% FOR lang IN localized_versions.keys %>
       <link rel="alternate" hreflang="<% lang %>" href="<% localized_versions.$lang.url %>" />
    <% END %>
  <% END %>


  <title><% title %></title>
  <meta name="description" content="<% description %>">
  <meta name="author" content="<% author %>">

  <!-- The Open Graph protocol -->
  <meta property="og:title" content="<% title %>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="<% default_image %>"/>
  <meta property="og:site_name" content="<% brand_name %>"/>
  <meta property="og:description" content="<% description %>"/>
  <% IF videos %>
    <% FOR v IN videos %>
       <meta property="og:video" content="<% v %>" />
    <% END %>
  <% END %>

  <link href="<% bootstrap_cdn %>/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="<% bootstrap_cdn %>/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
  
  
  <link href="/css/style.css?<% pm_version %>" rel="stylesheet">
  <% IF conf.rtl %>
    <link href="/css/rtl.css??<% pm_version %>" rel="stylesheet">
  <% END %>
  
  <% google_prettify %>
  
  <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/4.12/video.js"></script>
  
  <script src="<% jquery_cdn %>/jquery-1.11.3.min.js"></script>
  
  <script src="/javascripts/perlmaven.js?<% pm_version %>"></script>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@szabgab" />
  <meta name="twitter:creator" content="@szabgab" />
  <meta name="twitter:title" content="<% title %>" />
  <meta name="twitter:description" content="<% abstract %>" />
  <meta name="twitter:image" content="<% default_image %>" />

</head>
<body>

<% IF conf.show_social %>
<!-- start facebook SDK ?? -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=101520636611790";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- end facebook -->
<% END %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <% INCLUDE incl/menu.tt %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">

      <% INCLUDE incl/logo.tt %>
      <% INCLUDE incl/series.tt %>

    </div>
    <div class="col-md-7" id="content">


