<% IF conf.show_ads %>
<script type="text/javascript">
  var infolink_pid = 2353544;
  var infolink_wsid = 0; 
</script>
<script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
<% END %>
