<% IF conf.show_language_links %>
  <% IF languages.size %>
  <div id="sites">
    <ul>
    <% FOR lang IN languages %>
       <li><a href="<% lang.url %>"><% lang.name %></a></li>
    <% END %>
       <li><hr></li>
       <li><a href="http://<% domain %>/about#translations">about the translations</a></li>
    </ul>
  </div>
  <% END %>
<% END %>
