
<hr />

<h3>Do you want to improve your Perl?</h3>

In order to register to our newsletter, please type your e-mail here:

<form method="POST" action="/register" name="registration_form">
Email: <input name="email" />
<input type="submit" value="Register" />
</form>

Registered people will be notified when a new article is published on the Perl Maven web site.

