<% IF conf.show_related and related.size %>
    <div id="related_all">
        <div id="related">
          <b><% resources.text.related_articles %></b>
            <ul>
              <% FOR l IN related %>
                <li><a href="<% l.url %>"><% l.text %></a></li>
              <% END %>
            </ul>
        </div>
    </div>
<% END %>

