<html>
<head>
<link rel="stylesheet" href="/style.css" type="text/css" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="https://plus.google.com/111891839130546418347/" rel="publisher" />

<link href="/google-code-prettify/prettify.css" rel="stylesheet">
<script src="/google-code-prettify/prettify.js"></script>


<link rel="alternate" hreflang="x-default" href="<% localized_versions.en.url %>" />
<% FOR lang IN localized_versions.keys %>
   <link rel="alternate" hreflang="<% lang %>" href="<% localized_versions.$lang.url %>" />
<% END %>

<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="/bootstrap/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bootstrap/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bootstrap/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bootstrap/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/bootstrap/ico/apple-touch-icon-57-precomposed.png">

<link href="/atom" rel="alternate" type="application/atom+xml" title ="Perl Maven" />

<title><% title %></title>
<meta name="description" content="<% description %>">
<meta name="author" content="<% author %>">

<link href="/css/style.css" rel="stylesheet">
<% IF conf.rtl %>
	<link href="/css/rtl.css" rel="stylesheet">
<% END %>

</head>
<body onload="prettyPrint()" >

<!-- start facebook SDK ?? -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=101520636611790";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- end facebook -->

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <% INCLUDE incl/menu.tt %>
        </div>
      </div>
    </div>
<div class="container-fluid">
<div class="row-fluid">
  <div class="span1">

<!-- Modal start -->
<!-- used for the result set when there are more than one results -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<!-- Modal end -->

    <% IF beginner_book %>
      <div id="bookimg">
      <a href="http://perlmaven.com/beginner-perl-maven-e-book"><img src="/img/beginner_perl_maven_150x212.png" alt="Beginner Perl Maven" /></a>
      </div>
    <% END %>
    <% IF advanced_book %>
    <a href="http://perlmaven.com/advanced-perl-maven-e-book">Advanced Perl Maven</a>
    <% END %>

    <% INCLUDE incl/languages.tt %>

  </div>
  <div class="span8">


